body{
  background-color: green;
}
p{
  text-color: green;
}
.hs1{
  text-color: green;
  font-family: monospace;
  text-align: center;
}
.hs2{
  text-color: green;
  font-family: monospace;
  text-align: center;
}
.intro{
  text-color: white;
  font-family: monospace;
  text-align: center;
  font-size: 17pt;
}
