body{
  background-color: black;
  color: white;
  text-align: center;
  font-family: monospace;
}
.hs{
  color: lime;
  font-size: 50pt;
}
.intro{
  font-size: 24pt;
}
h3{
  font-size: 24pt;
}
p{
  font-size: 14pt;
}
