h1{
  text-color: black;
  font-family: monospace;
  text-align: center;
}
h2{
  text-color: black;
  font-family: monospace;
  text-align: center;
}
.intro{
  text-color: black;
  font-family: monospace;
  text-align: center;
  font-size: 17pt;
}
